<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="web, mobile, Infinity">
    <meta name="description" content="Infinity website">
    <meta name="author" content="Alexis Plassmann--Gobert">
    <link rel="stylesheet" href="../css/css.css">
    <link rel="stylesheet" href="../css/Pages.css">
    <link rel="stylesheet" href="../app/app.js">
    <link rel="stylesheet" href="../List/animations.css" type="text/css">
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../js/script.js"></script>
    <title>Infinity</title>
</head>
<header>
    <div id="mainRibbon">
        <a href="../about.html">About</a>
        <a href="../index.html">Home</a>
        <a href="../News.html">News</a>
        <a href="../List/index.html">List</a>
        <a href="http://alexispgblog.wordpress.com">WordPress</a>
        <a href="../Pages/Pages.html">Pages</a>
        <a href="../Testing/index.html">Testing</a>
    </div>
</header>
<body data-ng-app="">
    <br>
    <div id="text-style-div">
        <!-- <input type="button" value="set color" ng-click="TextStyle={color:'blue'}">  -->
        <!-- <input type="button" value="set background" ng-click="TextStyle={'background-color':'orange'}"> -->
        <!-- <input type="button" value="clear" ng-click="TextStyle={}">  -->
        <br/>
        <span data-ng-style="TextStyle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu orci nec quam dictum hendrerit a quis risus. Proin eu fermentum justo. In porttitor sapien vel maximus scelerisque. Pellentesque sollicitudin sagittis diam et scelerisque. Aenean non ante ultricies, elementum risus eget, varius nisi. Donec ac mi in eros condimentum sollicitudin. Fusce nec ex id sapien luctus rhoncus. Sed at nibh fermentum, feugiat tortor et, rhoncus nisl. Ut malesuada dui vitae dolor laoreet, scelerisque imperdiet diam dictum. Quisque et arcu neque.
        </span>
        <!-- <pre>TextStyle={{TextStyle}}</pre> -->
    </div>
</body>
<br>
<div id="footer-div">
    <footer id="footer">
        <div id="copyright">
            <p>@Copyright 2016 - Alexis Plassmann--Gobert</p>
            <p>mailto: <a href="mailto:">apgobert@gmail.com</a></p>
        </div>
    </footer>
</div>
</html>